body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.wrapper {
    width: 660px;
    height: 765px;
    margin: 0 auto;
    background-color: gray;
}

::-webkit-scrollbar {
    width: 0px;
}

.input-container, .repositories-container {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.input {
    width: 100%;
    height: 60px;
    font-size: 40px;
    box-sizing: border-box;
    padding-left: 14px;
}

.input-container {
    padding-top: 60px;
}

.input:focus {
    background-color: #FFFDD0
}

.autoList-list {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding: 0;
    border-collapse: collapse;
    height: 220px;
    overflow-y: scroll;
}

.autoList-item {
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: left;
    vertical-align: middle;
    box-sizing: border-box;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 3px solid black;
    background-color: rgba(227, 227, 227, 1);
    min-height: 44px;
    padding: 0 14px;


}

.autoList-item:first-child {
    border-top: 3px solid black;
}

.autoList-text {
    font-size: 30px;
    overflow-wrap: anywhere;

}

.repositories-container {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
    overflow-y: auto;

}

.repositories-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.repositoriesItem {
    width: 100%;
    background-color: rgba(226, 123, 235, 1);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    
}


.repositoriesText {
    font-size: 24px;
    margin-left: 14px;
}

.closeButton {
    width: 60px;
    height: 60px;
    display: flex;
    padding: 0;
    border: 0;
    position: relative;
    background-color: rgba(0,0,0,0);
    transform: rotate(45deg);
    transition: transform 1s;

}

.closeButton:hover {
    transform: rotate(360deg)
}

.closeButton::after {
    display: block;
    position: absolute;
    content: '';
    width: 2px;
    height:32px;
    background-color: red;
    transform: translate(28px, 14px);
    transition: background-color 1.0s
    
}

.closeButton::before {
    position: absolute;
    display: block;
    content: '';
    width: 2px;
    height:32px;
    rotate: 90deg;
    transform: translate(14px, -28px);
    background-color: red;
}

.closeButton:hover::after {
    background-color: rgba(0,0,0,0)
}

.divWrapper {
    margin-left: 20px;
}

